.navbar{
    background-color: #00777D;
    border-style: none none solid;
    border-color:  #c3c4c8;
    font-family: var(--font-one);
    font-size: 40px;
    position: fixed;
    z-index: 2;
    
}
.navbar-brand{
    font-family: var(--font-one);
    font-size: 50px;
    border-radius: 30%;
    background-color: #C3C4C8;
}

#logoInitials{
    padding-left: 15px;
    padding-right: 15px;
}

.nav-item{
    margin: 0px 15px 0px 15px;
    border-radius: 30%;
    background-color: #C3C4C8;
}
