body{
    background-color: #348888;
}


#contactForm{
    margin: 10px 10px 10px 10px;

    padding: 10px 10px 10px 10px; 
    background-color: #C3C4C8;
    border-radius: 5%;
    font-family: var(--font-one);
    font-size: large;
}

#resume{
    background-color: #C3C4C8;
    border-radius: 5%;
}

#areaForTheFuture{
    background-color: #C3C4C8;
    border-radius: 5%;
}

#landing{
    position: relative;
    top: -1000px;
    left: 1000px;
    font-family: var(--font-one);
}

h3{
    font-family:  var(--font-one);
   }